<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} {{ datetime }}</title>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <div class="container body-content">
            <div class="row" style="margin-top: 25px;">
                <h4>Keyboard Shortcut of the Day </h4>
            </div>
            <div class="row" style="margin-top: 10px;">
                <span>Learn a keyboard shortcut every day</span>
            </div>
            <hr />

            <div class="row jumbotron">
                <div>
                <h2>
                    <span class="label label-primary">Move Code Up</span>
                </h2>
                <h4><span class="label label-default glyphicon glyphicon-tag">Jetbrains Resharper</span></h4>
                <h1>
                    <kbd class="light">
                        Ctrl
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Shift
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Alt
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Up
                    </kbd>
                </h1>
            </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Helping developers and power users to learn new keyboard shortcuts for their favourite tools.<br/>Accepting pull requests on Github: <a href="https://github.com/grahammcallister/ksotd">https://github.com/grahammcallister/ksotd</a></p>
            </div>
        </footer>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
</body>
</html>