<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/js/solid.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
        <div class="container body-content">
            <div class="row">
                <h4>Keyboard Shortcut of the Day - {{ hello }}</h4>
            </div>

            <hr />

            <div class="row jumbotron">
                <div>
                <h2>
                    <span class="label label-primary">Move Code Up</span> - <span class="label label-default">Jetbrains Resharper</span>
                </h2>
                <h1>
                    <kbd class="light">
                        Ctrl
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Shift
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Alt
                    </kbd>
                    &nbsp;+&nbsp;
                    <kbd class="light">
                        Up
                    </kbd>
                </h1>
            </div>
            </div>
            <div class="row">
                <span>Learn a keyboard shortcut every day</span>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Helping developers and power users to learn new keyboard shortcuts for their favourite tools. Accepting pull requests on Github: <a href="https://github.com/grahammcallister/ksotd">https://github.com/grahammcallister/ksotd</a></p>
            </div>
        </footer>
</body>
</html>