<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <div class="container body-content">
            <div class="row" style="margin-top: 25px;">
                <h4>Keyboard shortcut of the day </h4>
            </div>
            <div class="row" style="margin-top: 10px;">
                <span>Learn a new keyboard shortcut every day</span>
            </div>
            <hr />

            <div class="row">
                
                <div class="card mr-auto">
                        <div class="card-body">
                            <h1>
                                <kbd class="light">
                                    Ctrl
                                </kbd>
                                &nbsp;+&nbsp;
                                <kbd class="light">
                                    Shift
                                </kbd>
                                &nbsp;+&nbsp;
                                <kbd class="light">
                                    Alt
                                </kbd>
                                &nbsp;+&nbsp;
                                <kbd class="light">
                                    Up
                                </kbd>
                            </h1>
                            <h2><span style="margin-top: 5px; margin-left: 5px;">Move code up</span></h2>
                            <div class="text-muted">Quickly rearrange expressions, statements, type members, and other elements in your code.</div>
                        </div>
                <div class="card-footer row">
                    <div class="small col-sm-6">
                       <span class="fas fa-tag"></span>&nbsp;<span class="label label-default">JetBrains</span>&nbsp;<span class="fas fa-tag" style="margin-left: 5px;"></span>&nbsp;<span class="label label-default" style="margin-left: 5px;">Resharper</span>
                    </div>
                    <div class="small text-right col-sm-6">
                        <a href="https://www.jetbrains.com/help/resharper/Coding_Assistance__Moving_Code_Elements.html"><span class="fas fa-book"></span> Documentation</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                    <hr/>
                <p class="text-muted">Helping developers and power users to learn new keyboard shortcuts for their favourite tools.<br/>Accepting pull requests on Github: <a href="https://github.com/grahammcallister/ksotd">https://github.com/grahammcallister/ksotd</a></p>
            </div>
        </footer>
        <script src="/js/jquery.min.js"></script>
        <script type="module" src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/fontawesome.js"></script>
</body>
</html>